@import "tailwindcss";

:root {
  --color-background: #0C0C0C;
  --color-background-secondary: #141414;
  --color-background-cards: #212121;
  --color-text-primary: #D4AF37;
  --color-text-secondary: #FFFFFF;
}

@theme inline {
  --color-background: var(--color-background);
  --color-bgs: var(--color-background-secondary);
  --color-card: var(--color-background-cards);
  --color-gold: var(--color-text-primary);
  --color-text: var(--color-text-secondary);
  --font-pop: var(--font-poppins);
}

